<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IHG Command Line Interface</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <p>Welcome to the IHG Command Line Interface!</p>
    <p>Type 'help' to see command templates.</p>
    <div id="current-env"></div>
    <div id="output" class="output"></div>
    <div class="terminal">
        <div class="prompt" id="prompt">$&gt;</div>
        <input type="text" id="commandInput" class="commandInput" autofocus autocomplete="off">
    </div>

    <script src="./js/index.js"></script>
</body>
</html>